body.full-height-width {
  background: none;
  background-size: auto;
}

.status {
  background: rgba(0, 0, 0, .1);
  margin: 10px;
  padding: 5px;
}

.status-github-btn {
  margin-right: 0 10px;
}

.welcome {
  background: url(../img/desert-resized-medium.jpg) 0 0 repeat;
  background-size: cover;
  max-height: 800px;
}

.welcome h1,
.welcome h2 {
  color: #hhh;
}